<div class="row">
  <!-- <div class="col-sm-4 offset-sm-1"> -->
    <%#= image_tag "profile.jpg", width: "300px" %>
  <!-- </div> -->
  <div class="about col-sm-6 offset-sm-3">
    <h3>Hello!</h3>
    <p>Enzo Naguiat here! I'm a Ruby on Rails and React Developer,
      currently based in Tokyo and studying Japanese.
      If you are interested to hire me, please feel free to me message on
      <%= link_to  "GitHub", 'https://github.com/MisterEnzo' %> or
      <%= link_to  "LinkedIn",'https://www.linkedin.com/in/enzo-naguiat-835ba798/' %>.
    </p>
    <br>
    <p>
      Please checkout:
      <%= link_to "My Projects", projects_path, class:"btn btn-light" %>
    </p>
  </div>
</div>
