<h1>About Me</h1>
<br>
<div class="row">
  <div class="col-sm-4 offset-sm-1">
    <%= image_tag "profile.jpg", width: "300px" %>
  </div>
  <div class="col-sm-6 offset-sm-1">
    I'm a Ruby on Rails and React developer, currently based in Manila, Philippines.
    Le Wagon Tokyo alumnus.
  </div>
</div>
