<h1>Projects</h1>
<%= link_to 'new project', new_project_path if logged_in?(:site_admin) %>
<div class="container">
  <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
    <%= render partial: 'project', collection: @projects %>
  </div>
</div>
